.efeito-hover {
    display: inline-block;
    position: relative;
}

.efeito-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #121212;
    transform-origin: bottom right ;
    transition: transform 0.25s ease-out;
}

.efeito-hover:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 